.App {
  text-align: center;
}

h2 {
  text-align: center;
  background-image: linear-gradient(to right, #be1d07, #f0aece);
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#home {
  margin-top: 100px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #333;
}
#create,#withdraw,#deposit{
  margin: auto;
  margin-left:500px ;
}

#span-1 {
  color: #2e43ff;
}

#span-2 {
  color: #27860a;
}

#table {
  width: 90%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#label {
  margin-left: 10px;
}

#input {
  width: 300px;
  margin-left: 10px;
}

#submitbtn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #288305;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#resetbtn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0a4d9998;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

#nav {
  background-color: #bb1c07;
  padding: 10px 0;
}

#nav-list {
  color: white;
}

body {
  background-color: #f0f0f0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}
